# This is Git's per-user configuration file.
[user]
	name = evolify
	email = wolf@evolify.cn
[core]
	autocrlf = false
	safecrlf = true
	editor = "nvim"
	excludesfile = /Users/evolify/repo/config/.gitignore_global

[includeIf "gitdir:~/mi/code/"]
	path = ~/mi/code/.gitconfig
[include]
	path = /Users/evolify/repo/config/.gitalias.txt
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
